page-list {
    .nem-logo{
        margin:30px 0px;
        width:100%;
        text-align: center;
        button{
            height:70px;
        }
        img{
            width:200px;
            height:auto;
        }
    }
}
